Source: ros-jazzy-tinyxml2-vendor
Section: misc
Priority: optional
Maintainer: Scott K Logan <scott@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libtinyxml2-dev, ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-tinyxml2-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml2-dev, ros-jazzy-ros-workspace
Description: Wrapper around tinyxml2, providing nothing but a dependency on tinyxml2, on some systems.
 On others, it provides a fixed CMake module or even an ExternalProject build of tinyxml2.
